* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000;
  font-family: 'Nanum Gothic', sans-serif;
  height: 90%;
  overflow: hidden;
}

.container {
  width: 1080%; /* 화면 전체 너비 */
  max-width: 9000px;
  text-align: center;
  position: relative;
  min-height: -150%; /* 화면 전체 높이를 설정 */
  background: linear-gradient(to bottom, 
              rgba(255, 255, 255, 1) 10%, 
              rgba(255, 0, 0, 0.5) 50%, 
              rgba(255, 255, 255, 1) 90%); /* 그라데이션 비율 수정 */
  transition: background 0.5s ease; /* 부드러운 변화 */
}

.main-text {
  font-size: 1rem;
  font-weight: Medium;
  margin-bottom: 390px;
  margin-top: 150px;
  color: #333;
}

.main-tex {
  font-size: 1rem;
  font-weight: Medium;
  margin-bottom: 10px;
  margin-top: 240px;
  color: #333;
}

.text-overlay {
  position: relative;
}

.interactive-text {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  opacity: 5;
  transition: opacity 3s ease, transform 3s ease, filter 3s ease;
  filter: blur(0px);
  cursor: pointer;
}

.interactive-text.blurred {
  opacity: 0.3;
  filter: blur(7px);
  transform: scale(0.8) rotate(-5deg); /* 크기 축소 및 기울기 추가 */
  pointer-events: none;
}  

.final-message {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.final-message.visible {
  opacity: 1; /* 메시지가 나타남 */
}

.container {
  width: 100%;
  max-width: 8000px;
  text-align: center;
  position: relative;
  height: 110vh; /* 화면 전체 높이 */
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 40%, rgba(255, 0, 0, 0.5) 50%, rgba(255, 255, 255, 1) 60%);
  transition: background 0.5s ease; /* 부드러운 변화 */
}

.container.clicked {
  background: radial-gradient(circle, rgba(255, 0, 0, 0.5) 20%, rgba(0, 255, 0, 0.4) 40%, rgba(0, 0, 255, 0.3) 60%);
  transition: background 1s ease-in-out;
}

.reset-trigger {
color: #ff3333; /* 강조 색상 */
font-weight: bold;
cursor: pointer;
text-decoration: underline;
transition: color 0.3s ease;
}

.reset-trigger:hover {
color: #cc0000; /* 마우스 오버 시 색상 변화 */
}

.text-overlay {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInText 5s forwards ease-in-out;
}

@keyframes fadeInText {
  to {
      opacity: 1;
      transform: scale(1);
  }
}